body{
	background-color: #BDBDBD;
}
header, section, footer{
	background-color: white;
	width : 90%;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: green;
	text-align: center;
}
a:hover{
	color : red;
}

header{
	margin-bottom: 15px;
	height: 90px;
	overflow: auto;
	clear: both;
}

li{
	list-style: none;
	font-weight: 900;
}
.headerlist{
	margin: 10px 20px 10px 0px;
	width: 130px;
	height: 40px;
	background-color: #B2CCFF;
	box-shadow: 5px 10px #B5B2FF;
	
	float: right;

	text-align: center;
	line-height: 40px;

	box-sizing: border-box;

}

#photosection{
	overflow: auto;

}

#photoh3{
	text-align: center;
}

#happiness, #seven{
	float: left;
	margin: 0px 0px 20px 20px;
}

#photosection>div{
	float: right;
	margin: 0px 20px 0px 20px;
}

.articlep{
	padding-left: 250px;
	padding-right: 50px;
}

hr{
	clear: both;
}

footer{
	margin-top: 15px;
	height: 90px;
	text-align: center;
}

footer> p{
	padding-top: 37px;
}
